[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
tensorflow-cpu = "~=2.4.1"
scikit-learn = "*"
gevent = "*"

[dev-packages]

[requires]
python_version = "3.8"